:root{
  --ff-primary: 'Teen';

  --fw-reg:  300;
  --fx-bold: 900;

  --clr--background:  #white;
  --clr--background-secondary: #F4F2E9;
  --clr-font:   #2B3F43;
  --clr-font-secondary: #E9F4F4;
  --clr-header: #698B6F;

  --fs-h1:   3rem;
  --fs-h2:   1.5rem;
  --fs-nav:  20px;
}

body {
  background-color:var(--clr--background)
}

html{
  scroll-behavior: smooth;
}


.baggrund-billede{
  background-image: url("pictures/6.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  max-height: 800px;
}


/* menubar */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

header{
  background-color: var(--clr-header);
  opacity: 90%;
  position: fixed;
  width: 100%;
}

li{
  list-style: none;
}

a{
  color: var(--clr-font-secondary);
  text-decoration: none;
  font-size: var(--fw-reg);
}

button{
  background-color: #A2D5AB;
  border: none;
  color: #2B3F43;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 15rem;
  font-weight: bold;
}

button:hover{
  background-color: #86B58E;
  color: #E9F4F4;
  transition: 0.3s;
}

.navbar{
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 1.5rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: var(--clr-font);
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-font-secondary);
}

#logo-nav{
  width: auto;
  max-width: 150px;
  margin-right: 40px;
}

.active{
  color: #2B3F43;
}

@media (max-width:1200px){
  .nav-menu{
    font-size: 1rem;
  }
}

@media (max-width:768px){
.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--clr-header);
  width: 100%;
  opacity: 90%;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-nav);
  text-align: center;
  transition: 0.3s;
  z-index: 9999;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}
}

/* menubar*/
/* Kontakform*/
#form {
align-items: center;
 width: auto;
 color: var(--clr-font);
 padding: 5px;
 text-align: center;
 font-family: var(--ff-primary);
}

.tekstarea {
  width: 500px;
  height: 200px;
}
.tekstarea2 {
  width: 500px;
}
/* Kontakform*/
/* kontakt side */
.kontaktbillede {
  display: flex;
  align-content: center;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: -1;
}

.boks1 {
 padding-left: 100px;
 border-radius: 300px;
}

/* kontakt side */


/*Grid systemer*/

/*Grid forside*/
@media (min-width:500px){

.gf1{ grid-area: a; }
.gf2{ grid-area: b; }
.nyheder-forside{ grid-area: n}
.gf6{ grid-area: f; }
.box-1{ grid-area: g; }
.gf8{ grid-area: h; }

.grid-forside{
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'n'
    'f'
    'g'
    'h';
}

.tekst-1{ grid-area: aa; }
.tekst-2 { grid-area: bb; }

.box-indhold-2{
  display: grid;
  grid-template-areas:
    'aa'
    'bb';
    align-items: center;
    margin-right: 4rem;
    align-content: center;
    grid-gap: 20px;
}

.gf1{
  height: auto;
  max-height: 800px;
}

.gf7{
  background-color: white;
}

.gf3{ grid-area: c; }
.gf4{ grid-area: d; }
.gf5{ grid-area: e; }

.nyheder-forside{
  display: grid;
  grid-template-areas:
  'c d e';
  width: 100%;
  max-width: 1920px;
  background-color: white;
  padding-top: 5rem;
  justify-content: space-around;
  height: auto;
}
.nyheder-forside .gf-knap{
  display: flex;
  align-items: flex-end;
}

.gf3-1{grid-area: a;}
.gf3-2{grid-area: b;}
.gf-knap{grid-area: k;}
.gf4-1{grid-area: a;}
.gf4-2{grid-area: b;}
.gf5-1{grid-area: a;}
.gf5-2{grid-area: b;}


.gf3{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'k';
  width: 20rem;
  line-height:25px;
}

.gf4{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'k';
  width: 20rem;
  line-height:25px;
}

.gf5{
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'k';
  width: 20rem;
  line-height:25px;
}

.gf5{
  width: 20rem;
  line-height: 25px;
}


.gf-knap{
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}


.gf3-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gf4-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gf5-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gf2{
  text-align: center;
  background-color: white;
  padding-top: 5rem;
}

.nyheder-forside img{
  object-fit: cover;
  width:20rem;
  height:20rem;
}

#gf2-h1{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  color: var(--clr-font);
}

#gf1-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}

#gf2-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
}
#gf3-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}
#gf4-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}
#gf5-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}


/*Grid footer*/

footer{
  background-color: #698B6F;
}

.gfo1{ grid-area: a; }
.gfo2{ grid-area: b; }
.gfo3{ grid-area: c; }

.grid-footer{
  display: grid;
  grid-template-areas:
    'a b c';
    width: auto;
    max-width: 1920px;
    background-color: #698B6F;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #E9F4F4;
}

.gfo1-1{ grid-area: a; }
.gfo1-2{ grid-area: b; }

.gfo1{
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  display: grid;
  grid-template-areas:
  'a'
  'b';
}

.gfo2{
  border-left: 2px solid #E9F4F4;
  border-right: 2px solid #E9F4F4;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 3rem;
}

.gfo3{
  padding-top: 2rem;
  text-align: center;
  grid-gap: 0px;
}

.gfo3-1{
  margin-top: 1rem;
}

.gfo3-2{
  margin-top: 3rem;
}


.gfo3 a i{
  padding-left: 15px;
  padding-right: 15px;
}

.border{
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.border-settings{
  width: 100%;
  max-width: 1920px;
  display: flex;

}

.box-indhold-1{ grid-area: a; }
.box-indhold-2{ grid-area: b; }

.box{
  background-color: #F4F2E9;
  height: 600px;
  display: grid;
  grid-template-areas:
    'a b'
    'c d';
  grid-template-columns: 1fr 1fr;
}


.box-indhold-1-1{ grid-area: a; }
.box-indhold-2-1{ grid-area: b; }
.knap-f-2 { grid-area: c; }
.blank { grid-area: d; }

.box-1{
  height: 600px;
  display: grid;
  grid-template-areas:
    'b a'
    'd c';
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;
  background-color: white;
  box-shadow: 0px 0px 5px #2B3F43;
}


.box-indhold-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-indhold-2 p{
  font-size: 30px;
  line-height: 40px;
}

.knap-f-2{
  display: flex;
  justify-content: center;
}



.box-indhold-1-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-indhold-2-1{
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.box-indhold-2-1 img{
  position:absolute;
  width: 250px;
  opacity: 0.1;
  margin-left: 50px;
}


.box-indhold-2-1 p{
  font-size: 20px;
  line-height: 40px;
}

.box-indhold-2 p{
  font-size: 20px;
  line-height: 40px;
}

.tekst-1 h2{
  font-size: 3rem;
}

#fo-icon a{
  font-size: 50px;
}

#logo-footer{
  width: auto;
  height: auto;
  max-height: 4rem;
}

#footer-lille-skrift{
  font-size: 14px;
}

#footer-alm-skrift{
  font-size: 20px;
}

#fo-h3{
  font-size: 35px;
}

#fb1{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

#fb1-1{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
  object-fit: cover;
}

.foverskrift{
  text-align: center;
  background-color: white;
  padding-top: 10rem;
}

#foverskrift-h1{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  color: var(--clr-font);
}

.gridf1{grid-area: a;}
.gridf2{grid-area: b;}
.gridf3{grid-area: c;}
.gridf4{grid-area: d;}
.gridf5{grid-area: e;}
.gridf6{grid-area: f;}
.gridf7{grid-area: g;}

.gridfbox{
display: grid;
grid-template-areas:
'f a a g'
'f b c g'
'f e d g';
height: auto;
background-color: #F4F2E9;
}

.gridfbox p{
  font-size: 25px;
  line-height: 40px;
  margin: auto;
}

.gridf1{
  padding-left: 2rem;
  display: flex;
  justify-content: left;
}

.gridf2{
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.gridf3{
  display: flex;
  justify-content: center;
  margin-right: auto;
}

.gridf3 img{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gridf4{
  display: flex;
  justify-content: center;
  margin: 2.5%;
}



.gridf6{
  margin: auto;
  margin-left: 6.5rem;
}

.gridf7{
  margin: auto;
  margin-left: 6.5rem;
}

.borderf{
  padding: 0px;
  margin: 0px;
}

.borderf-settings{
  width: 100%;
  max-width: 1920px;
  display: flex;

}

.gridf-1{grid-area: a;}
.gridf-2{grid-area: b;}
.gridf-3{grid-area: c;}
.gridf-4{grid-area: d;}
.gridf-5{grid-area: e;}
.gridf-6{grid-area: f;}
.gridf-7{grid-area: g;}

.gridf-box{
display: grid;
grid-template-areas:
'e a a f'
'e b c f'
'e g d f';
height: auto;
background-color: #F4F2E9;
}

.gridf-box p{
  font-size: 25px;
  line-height: 40px;
  margin: auto;
}

.gridf-1{
  padding-left: 2rem;
  display: flex;
  justify-content: left;
}

.gridf-2{
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.gridf-3{
  display: flex;
  justify-content: center;
  margin-right: auto;
}

.gridf-3 img{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gridf-4{
  display: flex;
  justify-content: center;
  margin: 2.5%;
  padding-bottom: 10%;
}

.gridf-5{
  margin: auto;
  margin-left: 6.5rem;
}

.gridf-6{
  margin: auto;
  margin-left: 6.5rem;
}




.title{ grid-area: a; }
.knap-galleri{ grid-area: b; }
.phorizontal-snap{ grid-area: c; }

.gf8{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c';
  background-color: #F4F2E9;
  padding-top: 5rem;
  margin-top: 20rem;
  grid-gap: 2rem;
  height: 750px;
}

.title{
  text-align: center;
}

.title a h2{
  font-size: 60px;
  color: #2B3F43;
}
.title a p{
  font-size: 25px;
  color: #2B3F43;
}

.knap-galleri{
  display: flex;
  justify-content: center;
}

.horizontal-snap {
  margin: 1rem auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: calc(325px + 2rem);
  padding: 1rem;
  max-width: 100%;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.horizontal-snap > a {
  scroll-snap-align: center;
}

.horizontal-snap img {
  width: 500px;
  height: 300px;
  max-width: none;
  object-fit: cover;
  border-radius: 1rem;
}

.image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;

  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.galleri{grid-area: a;}
.image-mosaic{grid-area: b;}
.galleri-1{grid-area: c;}

.grid-galleri{
  display: grid;
  grid-template-areas:
  'a'
  'c'
  'b';
  grid-gap: 50px;
}

.galleri{
  margin-top: 125px;
  padding-left: 50px;
  font-size: var(--fs-h1);
}

.galleri-1{
  text-align: center;
  font-size: var(--fs-h2);
  margin-bottom: 2rem;
}

/*pil på forside*/

.arrow{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #E9F4F4;
    border-right: 5px solid #E9F4F4;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

}

/*Grid mobile version*/

@media (max-width: 500px) {

main {
  background-color: white;
}

.indhold-forside {
  margin-left: 20px;
  margin-right: 20px;
}

.indhold-forside-1 {
  margin-left: 20px;
  margin-right: 20px;
}


.gf3  img{
 object-fit: cover;
 height: auto;
 width: 100%;
 box-shadow: 3px 3px 5px #2B3F43;
}

 .gf4  img{
  object-fit: cover;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gf5  img{
 object-fit: cover;
 height: auto;
 width: 100%;
 box-shadow: 3px 3px 5px #2B3F43;
}

.gf6  img{
  object-fit: cover;
  height: auto;
  width: 100%;
}

.box-1  img{
  object-fit: cover;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gf8 img{
  object-fit: cover;
  height: 1000px;
  width: 100px;
}

.grid-footer img{
 object-fit: cover;
 height: auto;
 width: 100%;
}

.box img{
 object-fit: cover;
 height: auto;
 width: 100%;
 box-shadow: 3px 3px 5px #2B3F43;
}

.gf1{
height: 900px;
}

.gf1 img{
  object-fit: cover;
  height: 100%;
  max-height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-indhold-2-1 img{
  display: none;
}

.arrow{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #E9F4F4;
    border-right: 5px solid #E9F4F4;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.gf1{ grid-area: b; }
.gf2{ grid-area: c; }
.nyheder-forside{ grid-area: d; }
.gf4{ grid-area: e; }
.gf5{ grid-area: f; }
.gf6{ grid-area: g; }
.box-1{ grid-area: h; }
.gf8{ grid-area: i; }
.grid-footer{ grid-area: k; }


.grid-forside{
  display: grid;
  grid-template-areas:
  'b'
  'c'
  'd'
  'e'
  'f'
  'g'
  'h'
  'i'
  'k';
}

.gf2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.gf3{ grid-area: a; }
.gf4{ grid-area: b; }
.gf5{ grid-area: c; }

.nyheder-forside{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c';
  grid-gap: 50px;
}

.gf3{
  text-align: center;
  grid-gap: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.gf3-1{
  display: flex;
  justify-content: center;
}

.gf4{
  text-align: center;
  grid-gap: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.gf4-1{
  display: flex;
  justify-content: center;
}

.gf5{
  text-align: center;
  grid-gap: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.gf5-1{
  display: flex;
  justify-content: center;
}

.gf3-1{ grid-area: a; }
.gf3-2{ grid-area: b; }

.gf3{
  display: grid;
  grid-template-areas:
  'a'
  'b';
}

.gf4-1{ grid-area: a; }
.gf4-2{ grid-area: b; }

.gf4{
  display: grid;
  grid-template-areas:
  'a'
  'b';
}

.gf5-1{ grid-area: a; }
.gf5-2{ grid-area: b; }

.gf5{
  display: grid;
  grid-template-areas:
  'a'
  'b';
}

.border{
  display: flex;
}

.box-indhold-1{ grid-area: a; }
.box-indhold-2{ grid-area: b; }
.knap-f-2{ grid-area: c; }

.box{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c';
  grid-gap: 15px;
  background-color: #F4F2E9;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.box > * {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.box-indhold-1{
  margin-top: 50px;
}

.knap-f-2{
  margin-top: 20px;
}

.box-indhold-2-1{ grid-area: a; }
.box-indhold-1-1{ grid-area: b; }
.knap-f-2{ grid-area: c; }

.box-1{
  display: grid;
  grid-template-areas:
  'b'
  'a'
  'c';
  grid-gap: 15px;
  margin-top: 50px;
}

.box-1 > * {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.title{ grid-area: a; }
.knap-galleri{ grid-area: b; }
.horizontal-snap { grid-area: c; }

.gf8{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c';
  background-color: #F4F2E9;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
}

.gf8 > * {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  margin-bottom: 50px;
}

.title > *{
  color: #2B3F43;
  margin-top: 50px;
  font-size: 30px;
}

.knap-galleri button{
  background-color: #A2D5AB;
  border: none;
  color: #2B3F43;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 12rem;
  font-weight: bold;
}

.knap-galleri button:hover{
  background-color: #86B58E;
  color: #E9F4F4;
}

.horizontal-snap {
  margin: 1rem auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: calc(250px + 2rem);
  padding: 1rem;
  max-width: 100%;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.horizontal-snap > a {
  scroll-snap-align: center;
}

.horizontal-snap img {
  width: 350px;
  height: 225px;
  max-width: none;
  object-fit: cover;
  border-radius: 1rem;
}

.gfo1{ grid-area: a; }
.gfo2{ grid-area: b; }
.gfo3{ grid-area: c; }


.grid-footer{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c';
  background-color: #698B6F;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 25px;
}

.grid-footer > * {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  color: #E9F4F4;
}

.gfo1-1{ grid-area: a; }
.gfo1-2{ grid-area: b; }


.gfo1{
  display: grid;
  grid-template-areas:
  'a'
  'b';
  padding-top: 50px;
}

#logo-footer{
  width: auto;
  max-width: 15rem;
}

.gfo1-2{
  margin-top: 25px;
  margin-bottom: 10px;
  border-top: 2px solid #E9F4F4;
  border-bottom: 2px solid #E9F4F4;
  padding-top: 25px;
  padding-bottom: 25px;
}

.gfo2 p b {
  font-size: 25px;
}

.gfo3-1{ grid-area: a; }
.gfo3-2{ grid-area: b; }


.gfo3{
  display: grid;
  grid-template-areas:
  'a'
  'b';
  padding-top: 10px;
  line-height: 25px;
  grid-gap: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.gfo3-1 h3{
  font-size: 35px;
}

#fo-icon{
  font-size: 80px;
}

.spons{
  text-align: center;
}

.tekst-1{ grid-area: aa; }
.tekst-2 { grid-area: bb; }

.box-indhold-2{
  display: grid;
  grid-template-areas:
    'aa'
    'bb';
    align-items: center;
    align-content: center;
    grid-gap: 20px;
}

}

/*spons side*/

.image-mosaic1 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 80%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-color: white;

}

.spons{
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 500px) {

.gridf3 img{
  object-fit: cover;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 5px #2B3F43;
}

.gridf-3 img{
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.borderf img{
 object-fit: cover;
 height: auto;
 width: 100%;
 display: flex;
}

.borderbox-top{
  padding-top: 100px;
}


.gridf5{
  display: none;
}
.gridf6{
  display: none;
}
.gridf7{
  display: none;
}

.gridf1{grid-area: a;}
.gridf2{grid-area: b;}
.gridf3{grid-area: c;}
.gridf4{grid-area: d;}

.gridfbox{
display: grid;
grid-template-areas:
'a'
'b'
'c'
'd';
text-align: center;
grid-gap: 25px;
padding-left: 20px;
padding-right: 20px;
background-color: #F4F2E9;
padding-top: 10%;
padding-bottom: 10%;
}

.gridf-3{
  display: flex;
  justify-content: center;
}

.gridf-4{
  display: flex;
  justify-content: center;
}

.gridf-3 img{
  object-fit: cover;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 5px #2B3F43;
}

.borderf img{
 object-fit: cover;
 height: auto;
 width: 100%;
 display: flex;
}

.gridf-5{
  display: none;
}
.gridf-6{
  display: none;
}
.gridf-7{
  display: none;
}

.gridf-1{grid-area: a;}
.gridf-2{grid-area: b;}
.gridf-3{grid-area: c;}
.gridf-4{grid-area: d;}

.gridf-box{
display: grid;
grid-template-areas:
'a'
'b'
'c'
'd';
text-align: center;
grid-gap: 25px;
padding-left: 20px;
padding-right: 20px;
background-color: #F4F2E9;
padding-top: 10%;
padding-bottom: 10%;
}

.gridf-3{
  display: flex;
  justify-content: center;
}

.gridf-4{
  display: flex;
  justify-content: center;
}


}

/*Dette er om os siden*/

.border_om-settings{
  width: 100%;
  max-width: 1920px;
  display: flex;
}

.grido1{
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding: 5%;
}

.grido2 img{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.grido2{
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding: 5%;
}

.grido3{
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding-top: 2.5%;
  padding-bottom: 5%;
}

.grido4{
  padding-left: 2.5rem;
  display: flex;
  justify-content: left;
}

.grido1{grid-area: a;}
.grido2{grid-area: b;}
.grido3{grid-area: c;}
.grido4{grid-area: d;}


.grid-om_os{
display: grid;
grid-template-areas:
'd d'
'a b'
'c c';
height: auto;
background-color: #F4F2E9;
}

.grid-om_os p{
  font-size: 25px;
  line-height: 40px;
  margin: auto;
}

/*mobil version af Om os*/

@media (max-width: 500px) {

  .grido2 img{
    object-fit: cover;
    height: auto;
    width: 100%;
    box-shadow: 3px 3px 5px #2B3F43;
  }


  .border_om img{
   object-fit: cover;
   height: auto;
   width: 100%;
   display: flex;
  }

  .border_om{
    padding-top: 100px;
  }


  .grido1{grid-area: a;}
  .grido2{grid-area: b;}
  .grido3{grid-area: c;}
  .grido4{grid-area: d;}

  .grid-om_os{
  display: grid;
  grid-template-areas:
  'd'
  'b'
  'a'
  'c';
  text-align: center;
  grid-gap: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F2E9;
  padding-top: 10%;
  padding-bottom: 10%;
  }
}

form {
  border: 4px solid #f1f1f1;
}

.container {
  padding: 20px;
  background-color: #F4F2E9;
  color: #2B3F43;
  text-align: center;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #A2D5AB;
  color: #2B3F43;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

input[type=submit]:hover {
  background-color: #86B58E;
  color: #E9F4F4;
  transition: 0.3s;
}


/*billeter side website*/

.borderbil{
  padding: 0px;
  margin: 0px;
}

.borderbil-settings{
  width: 100%;
  max-width: 1920px;
  display: flex;

}

.gridbil1{grid-area: a;}
.gridbil2{grid-area: b;}
.gridbil3{grid-area: c;}
.gridbil4{grid-area: d;}
.gridbil5{grid-area: e;}
.gridbil6{grid-area: f;}
.gridbil7{grid-area: g;}


.gridbilbox{
display: grid;
grid-template-areas:
'f a a g'
'f b c g'
'f d d g';
height: auto;
background-color:#F4F2E9;
}

.gridbil1 {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  color: #2B3F43;


}



.gridbil2{
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  font-size: 25px;
  line-height: 40px;
}

.gridbil3{
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

.gridbil3 img{
  object-fit: cover;
  height: auto;
  width: 100%;
  box-shadow: 3px 3px 5px #2B3F43;
}


.gridbil4{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.button-billetter{
  background-color: #A2D5AB;
  border: none;
  color: #2B3F43;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  width: 20rem;
  height: 100px;
  font-weight: bold;
}

.button-biletter:hover{
  background-color: #86B58E;
  color: #E9F4F4;
  transition: 0.3s;
}

.gridbil6{
  margin: auto;
  margin-left: 6.5rem;
}

.gridbil7{
  margin: auto;
  margin-left: 6.5rem;
}


/*billeterside mobilversion*/

@media (max-width: 500px) {

  .borderbil img{
    object-fit: cover;
    height: auto;
    width: 100%;
    display: flex;
   }

  .gridbil1{grid-area: a;}
  .gridbil2{grid-area: b;}
  .gridbil3{grid-area: c;}
  .gridbil4{grid-area: d;}
  .gridbil5{grid-area: e;}
  .gridbil6{grid-area: f;}
  .gridbil7{grid-area: g;}

  .gridbilbox{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c'
  'd';
  text-align: center;
  grid-gap: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F2E9;
  padding-top: 10%;
  padding-bottom: 10%;
  }

  .gridbil1 {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    color: #2B3F43;


  }

  .gridbil2{
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    font-size: 25px;
    line-height: 40px;
  }

  .gridbil3{
    display: flex;
    justify-content: center;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
  }

  .gridbil3 img{
    object-fit: cover;
    height: auto;
    width: 100%;
    box-shadow: 3px 3px 5px #2B3F43;
  }

  .gridbil4{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .button-billetter{
    background-color: #A2D5AB;
    border: none;
    color: #2B3F43;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    width: 20rem;
    height: 100px;
    font-weight: bold;
  }

  .button-biletter:hover{
    background-color: #86B58E;
    color: #E9F4F4;
    transition: 0.3s;
  }

  .gridbil6{
    margin: auto;
    margin-left: 6.5rem;
  }

  .gridbil7{
    margin: auto;
    margin-left: 6.5rem;
  }
}

/*frillig side website*/

.gridfri1{grid-area: a;}
.gridfri2{grid-area: b;}
.gridfri3{grid-area: c;}
.gridfri4{grid-area: d;}
.gridfri5{grid-area: e;}
.gridfri6{grid-area: f;}
.gridfri7{grid-area: g;}
  
   
.gridfribox{
display: grid;
grid-template-areas:
'f a a g'
'f b c g'
'f d d g';
height: auto;
background-color:#F4F2E9;
}
   
.gridfri1 {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  color: #2B3F43;
}
   
  
  
.gridfri2{
padding-right: 2rem;
padding-left: 2rem;
display: flex;
justify-content: center;
margin-left: auto;
font-size: 25px;
line-height: 40px;
}
   
.gridfri3{
display: flex;
justify-content: center;
margin-right: auto;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 2.5%;
}
   
.gridfri3 img{
object-fit: cover;
height: auto;
width: 100%;
box-shadow: 3px 3px 5px #2B3F43;
}
  
.gridfri4{
display: flex;
justify-content: center;
padding-bottom: 5%;
padding-top: 5%;
}
  
.gridfri5{
margin: auto;
margin-left: 6.5rem;    
}  
.gridfri6{
margin: auto;
margin-left: 6.5rem;
}
  
.gridfri7{
margin: auto;
margin-left: 6.5rem;
}
