:root{
  --ff-primary: 'Teen';

  --fw-reg:  300;
  --fx-bold: 900;

  --clr--background:  #white;
  --clr--background-secondary: #F4F2E9;
  --clr-font:   #2B3F43;
  --clr-font-secondary: #E9F4F4;
  --clr-header: #698B6F;

  --fs-h1:   3rem;
  --fs-h2:   20px;
  --fs-nav:  20px;
}

body {
  background-color:var(--clr--background)
}

/* menubar */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

header{
  background-color: var(--clr-header);
  opacity: 90%;
  position: fixed;
  width: 100%;
}

li{
  list-style: none;
}

a{
  color: var(--clr-font-secondary);
  text-decoration: none;
  font-size: var(--fw-reg);
}

.navbar{
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 1.5rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: var(--clr-font);
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-font-secondary);
}

#logo-nav{
  width: auto;
  max-width: 150px;
  margin-right: 40px;
}

.active{
  color: #2B3F43;
}

@media (max-width:1200px){
  .nav-menu{
    font-size: 1rem;
  }
}

@media (max-width:768px){
.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--clr-header);
  width: 100%;
  opacity: 90%;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-nav);
  text-align: center;
  transition: 0.3s;
  z-index: 9999;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}
}

/* menubar*/
/* Kontakform*/
.form {
width: auto;
color: var(--clr-font);
padding: 5px;
text-align: center;
font-family: sans-serif;
}


/* Kontakform*/


/*Grid systemer*/

/*Grid forside*/

.gf1{ grid-area: a; }
.gf2{ grid-area: b; }
.nyheder-forside{ grid-area: n}
.gf6{ grid-area: f; }
.gf7{ grid-area: g; }
.gf8{ grid-area: h; }

.grid-forside{
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'n'
    'f'
    'g'
    'h';
    grid-gap: 5rem;
}

.gf1{
  height: auto;
  max-height: 800px;
}


.gf3{ grid-area: c; }
.gf4{ grid-area: d; }
.gf5{ grid-area: e; }

.nyheder-forside{
  display: grid;
  grid-template-areas:
  'c d e';
  width: 100%;
  max-width: 1920px;
}

.nyheder-forside{
  display: flex;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

.gf3-1{grid-area: a;}
.gf3-2{grid-area: b;}
.gf4-1{grid-area: a;}
.gf4-2{grid-area: b;}
.gf5-1{grid-area: a;}
.gf5-2{grid-area: b;}


.gf3{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b';
  width: 20rem;
  line-height:25px;
}

.gf4{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b';
  width: 20rem;
  line-height:25px;

}

.gf5{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'a'
  'b';
  width: 20rem;
  line-height:25px;
}


.gf3-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
}
.gf4-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
}
.gf5-1{
  width: 100%;
  padding: 0px;
  height: 20rem;
}

.gf2{
  text-align: center;
}

.nyheder-forside img{
  object-fit: cover;
  width:20rem;
  height:20rem;
}

#gf2-h1{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  color: var(--clr-font);
}

#gf1-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}

#gf2-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
}
#gf3-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}
#gf4-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}
#gf5-pic{
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  max-height: 800px;
}


/*Grid footer*/

.gfo1{ grid-area: a; }
.gfo2{ grid-area: b; }
.gfo3{ grid-area: c; }

.grid-footer{
  display: grid;
  grid-template-areas:
    'a b c';
    width: auto;
    max-width: 1920px;
    background-color: #698B6F;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #E9F4F4;
}

.gfo1-1{ grid-area: a; }
.gfo1-2{ grid-area: b; }

.gfo1{
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  display: grid;
  grid-template-areas:
  'a'
  'b';
}

.gfo2{
  border-left: 2px solid #E9F4F4;
  border-right: 2px solid #E9F4F4;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 3rem;
}

.gfo3{
  padding-top: 2rem;
  text-align: center;
  grid-gap: 0px;
}

.gfo3-1{
  margin-top: 1rem;
}

.gfo3-2{
  margin-top: 3rem;
}

.gfo3 a i{
  padding-left: 15px;
  padding-right: 15px;
}

.border{
  padding: 0px;
  margin: 0px;
}

.border-settings{
  width: 100%;
  max-width: 1920px;
  display: flex;

}

.box-indhold-1{ grid-area: a; }
.box-indhold-2{ grid-area: b; }

.box{
  background-color: #F4F2E9;
  height: 600px;
  display: grid;
  grid-template-areas:
    'a b'
    'c d';
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 5px #2B3F43;
  margin-bottom: 2.5rem;
}


.box-indhold-1-1{ grid-area: a; }
.box-indhold-2-1{ grid-area: b; }
.knap-f-2 { grid-area: c; }
.blank { grid-area: d; }

.box-1{
  height: 600px;
  display: grid;
  grid-template-areas:
    'b a'
    'd c';
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.box-indhold-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-indhold-2{
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.box-indhold-2 p{
  font-size: 30px;
  line-height: 40px;
}

.knap-f-2{
  display: flex;
  justify-content: center;
}

.knap-f-2 button{
  background-color: #A2D5AB;
  border: none;
  color: #2B3F43;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 15rem;
  font-weight: bold;
}

.box-indhold-1-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-indhold-2-1{
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.box-indhold-2-1 img{
  position:absolute;
  width: 250px;
  opacity: 0.1;
  margin-left: 50px;
}


.box-indhold-2-1 p{
  font-size: 20px;
  line-height: 40px;
}

.box-indhold-2 p{
  font-size: 20px;
  line-height: 40px;
}

#fo-icon a{
  font-size: 50px;
}

#logo-footer{
  width: auto;
  height: auto;
  max-height: 4rem;
}

#footer-lille-skrift{
  font-size: 14px;
}

#footer-alm-skrift{
  font-size: 20px;
}

#fo-h3{
  font-size: 35px;
}

#fb1{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

#fb1-1{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}

.grid-forestillinger{
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'n'
    'f'
    'g'
    'h';
}

.box-indholdf-1-1{

  margin-left: 4rem;
  grid-area: a;
}

.box-indholdf-2-1{
display: flex;
align-items: center;
margin-left: 4rem;
grid-area: b;
}

.gff2{
  text-align: center;
  margin-top: 10%;
}

#gff2-h1{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  color: var(--clr-font);
}


.buttonforestillinger{
  grid-area: c;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.boxforestillinger{
  background-color: #F4F2E9;
  height: auto;
  display: grid;
  grid-template-areas:
    'a b'
    'd c';
  grid-template-columns: 1fr 1fr;

}

.buttonforestillinger button{
  background-color: #A2D5AB;
  border: none;
  color: #2B3F43;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 15rem;
  font-weight: bold;
}

.gridf-1{grid-area: a;}
.gridf-2{grid-area: b;}
.gridf-3{grid-area: c;}
.gridf-4{grid-area: d;}
.pil1{grid-area: e;}
.pil2{grid-area: f;}

.gridf-box{
grid-template-areas:
'e a a f'
'e b c f'
'e d d f';
}

.gridf-3 img{
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 5px #2B3F43;
}
